.App {
  text-align: center;
}
.main{
  max-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.fs-7{
  font-size:14px;
  
}
.fs-8 {
  color: gray;
  font-size: 13px;
}


::-webkit-scrollbar{
  display: none;
}

.mLocation {
position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.mLocation:hover{
  z-index: 4;
}


.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicators button{
    filter: invert(150%);
}